{{!-- On the index.hbs file you should include the beer image you have on the /public/images, 
with two buttons: Check the Beers! and Check a Random Beer. 
Both should navigate to the same routes we have on our nav. --}}

<div class="index-container">
  <img class="imagebeer" src="/images/beer.png">
  <a href="/beers" class="myButton">Check the Beers!</a>
<a href="/random-beers" class="myButton">Check a Random Beer</a>
</div>